<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- no colors -->
      <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] [%class] %n%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.glassfish.jersey.internal.util" level="ERROR"/>

  <root level="${loggerLevel}">
    <!--<root level="info">-->
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
